.genresP-header {
    display: flex;
    justify-content: space-between;
    width: 30%;
    text-align: center;
    margin: 0 auto;
}

.genresP-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
