/* AddBook.css */
.manual-add-book-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .add-book-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .add-book-inputs input, .add-book-inputs textarea {
    width: 100%;
    padding: 8px 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: none;
  }
  
  .add-book-inputs input:focus, .add-book-inputs textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.3);
  }
  
  .save-book-button {
    width: 100%;
    padding: 8px 12px;
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .save-book-button:hover {
    background-color: #0056b3;
  }
  
  .genres-container {
    background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
  }
  
  .select-multiple {
    width: 100%;
    height: 120px;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .selected-genres {
    margin-top: 10px;
    font-size: 14px;
  }
  
  @media (max-width: 480px) {
    .manual-add-book-wrapper {
      padding: 10px;
    }
  
    .add-book-inputs input, .add-book-inputs textarea {
      font-size: 12px;
    }
  
    .save-book-button {
      font-size: 12px;
    }
  }
  