.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  padding: 0 20px;
}

.list-style {
  list-style: none;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar-links a.active {
  text-decoration: underline;
}

.navbar-links a:hover {
  text-decoration: underline;
}
