.collection-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.2s ease;
}

.collection-card-container img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.collection-card-container h1 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    @apply dark:text-white text-gray-950;
    margin: 0;
}

.collection-card-container:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.collection-card-container-img{
    width: 252px;
    height: 252px;
}

/* @media screen and (max-width: 768px) {
    .collection-card-container img{
        width: 100%;
    }
} */