.manual-add-book-wrapper {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.manual-add-book-wrapper h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.manual-add-book-inputs {
  display: flex;
  flex-direction: column;
}

.manual-add-book-inputs label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.manual-add-book-inputs input,
.manual-add-book-inputs textarea,
.manual-add-book-inputs select {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #f9f9f9;
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
}

.manual-add-book-inputs input:focus,
.manual-add-book-inputs textarea:focus,
.manual-add-book-inputs select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.manual-add-book-inputs textarea {
  min-height: 150px;
  resize: vertical;
}

.selected-genres {
  border-radius: 8px;
}


.genre-item {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 5px 0 0;
}