.Carrousel{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70dvw;
    height: 100%;
    margin: auto;
    padding: 0 2rem;
    overflow: scroll;
    position: relative;
}

.Carrousel::-webkit-scrollbar {
    display: none;
}

.Carrousel-box{
    border-bottom: 2px solid #000;   
}