.Carrousel{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70dvw;
    height: 100%;
    margin: auto;
    padding: 0 2rem;
    overflow: scroll;
    position: relative;
}

.Carrousel::-webkit-scrollbar {
    display: none;
}

.Carrousel .Carrousel-box:nth-child(2n+1){
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, #fbff00 90%, #7bff00) 1;
}
.Carrousel .Carrousel-box:nth-child(2n){
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, #7bff00 90%, #fbff00) 1;
}