.book-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.filters {
  margin-bottom: 20px;
}

.book-genre-title {
  font-size: 1.5em;
  margin: 10px 0;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.book-item {
  flex: 1 0 250px;
  max-width: 250px;
}
