#root{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main-content {
    margin-top: 60px; /* Igual a la altura del navbar */
    padding: 20px; /* Opcional: añade un poco de padding para el contenido */
  }