.labels-sheet {
    display: grid;
    grid-template-columns: repeat(3, 2.625in);
    grid-template-rows: repeat(10, 1in);
    gap: 0.125in;
    width: 8.5in;
    height: 11in;
    padding: 0.5in;
    box-sizing: border-box;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.625in;
    height: 1in;
    border: 1px solid transparent;
    overflow: hidden;
}

.book-info {
    font-size: 10px;
    text-align: center;
}

.book-info p{
    margin: 2px;
}
