
.genre-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
  }
  
  .genre-table-header {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    border-bottom: 2px solid #ddd;
  }
  
  
  .genre-table td {
    padding: 10px;
  }
  
  .genre-input,
  .genre-select {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .genre-button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  .delete-genre-button{
    background-color: #ff0000; /* Color rojo */
  }
  
  .genre-button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .delete-genre-button:hover{
    background-color: #b30000; /* Rojo más oscuro al pasar el cursor */
  }
  
  .genre-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    box-shadow: none;
  }
  
  .no-data {
    text-align: center;
    color: #999;
    font-style: italic;
  }
  
  .action-buttons {
    text-align: center;
  }
  
  /* Estilos responsive */
  @media (max-width: 768px) {
    .genre-table {
      font-size: 14px;
    }
  
    .genre-button {
      font-size: 12px;
      padding: 8px 12px;
    }
  }
  
  @media (max-width: 480px) {
    .genre-table {
      font-size: 12px;
    }
  
    .genre-button {
      font-size: 10px;
      padding: 6px 10px;
    }
  }